@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
}

.seccion-mostrar-gatos-que-ya-fueron-rescatados{
    width: 100%;
    height:400px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.titulo-seccion-gatos-adoptados{
    font-size: 30px;
}
.contenedor{
     width: 100%;
     justify-content: center;
     align-items: center; 
    }
    .seccion{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedor-img{
        display: flex;
    }
    .culumna{
    }
    .imgs:hover{
        transition: 0.5s;
        scale: 1.1;

    
    }

.mostrar {
    animation: mover 1s forwards; /* Coloca "forwards" aquí para mantener el estado final */
}

@keyframes mover {
    0% {
        transform: translateY(-100px); /* Inicia desde -100px en Y */
        opacity: 0; /* Inicia completamente transparente */
    }
    100% {
        transform: translateY(0); /* Termina en la posición original en Y */
        opacity: 1; /* Termina completamente opaco */
    }
}



.img-portada{
    width: 500px;
    height: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -50;
    
}
.seccion-portada{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}




